# Домашнє завдання до теми "Розширені методи обробки даних у Pandas"

В цьому домашньому завданні продовжуємо працювати з набором даних `supermarket_sales.csv`.

0. Імпортуйте бібліотеку pandas та зчитайте дані у змінну `df` типу `pandas.DataFrame`.

In [1]:
import pandas as pd

In [2]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [3]:
df = pd.read_csv('/content/drive/MyDrive/python_labs/data/supermarket_sales.csv')

1. Відсортуйте дані за спаданням ціни товара ('Unit price') і виведіть 5 перших рядочків на екран.

In [4]:
sorted_df = df.sort_values(by='Unit price', ascending=False)
print(sorted_df.head())

      Invoice ID Branch       City Customer type Gender         Product line  \
983  148-41-7930      C  Naypyitaw        Normal   Male    Health and beauty
122  219-22-9386      B   Mandalay        Member   Male    Sports and travel
930  641-62-7288      B   Mandalay        Normal   Male   Home and lifestyle
494  437-53-3084      B   Mandalay        Normal   Male  Fashion accessories
283  667-92-0055      A     Yangon        Member   Male    Health and beauty

     Unit price  Quantity  Tax 5%    Total       Date   Time      Payment  \
983       99.96         7  34.986  734.706  1/23/2019  10:33         Cash
122       99.96         9  44.982  944.622   3/9/2019  17:26  Credit card
930       99.92         6  29.976  629.496  3/24/2019  13:33      Ewallet
494       99.89         2   9.989  209.769  2/26/2019  11:48      Ewallet
283       99.83         6  29.949  628.929   3/4/2019  15:02      Ewallet

       cogs  gross margin percentage  gross income  Rating
983  699.72                 4.761905        34.986     6.1
122  899.64                 4.761905        44.982     4.2
930  599.52                 4.761905        29.976     7.1
494  199.78                 4.761905         9.989     7.1
283  598.98                 4.761905        29.949     8.5

2. Знайдіть інвойс (рядок в даних) в категорії товарів Electronic accessories, в якому був куплений товар з найбільшою кількістю і найбільшою ціною. Виведіть цей рядок даних на екран.

In [14]:
electronic_accessories_df = df[df['Product line'] == 'Electronic accessories']

#invoice_max_quantity_price = electronic_accessories_df.loc[(electronic_accessories_df['Quantity'].idxmax(), 'Unit price')]
#print('invoice_max_quantity_price: ', invoice_max_quantity_price)

print(electronic_accessories_df.loc[(electronic_accessories_df['Quantity'].idxmax() * electronic_accessories_df['Unit price']).idxmax()])

invoice_max_quantity_price:  41.65
Invoice ID                            817-69-8206
Branch                                          B
City                                     Mandalay
Customer type                              Normal
Gender                                     Female
Product line               Electronic accessories
Unit price                                  99.73
Quantity                                        9
Tax 5%                                    44.8785
Total                                    942.4485
Date                                     3/2/2019
Time                                        19:42
Payment                               Credit card
cogs                                       897.57
gross margin percentage                  4.761905
gross income                              44.8785
Rating                                        6.5
Name: 209, dtype: object

3.1. Створіть нову колонку в даних `Rating Category`, яка визначає категорію рейтингу: високий, середній чи низький за наступним правилом:
- якщо рейтинг вищий або рівний 8 - то він високий (`High`)
- якщо рейтинг від 6 до 8 не включаючи - то він середній (`Medium`)
- інакше - низький (`Low`).

In [15]:
def categorize_rating(rating):
    if rating >= 8:
        return 'High'
    elif 6 <= rating < 8:
        return 'Medium'
    else:
        return 'Low'

df['Rating Category'] = df['Rating'].apply(categorize_rating)

print(df.head())

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating  \
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

  Rating Category
0            High
1            High
2          Medium
3            High
4             Low

3.2. Виведіть, який відсоток даних становить кожне зі значень категорій рейтингу.

In [16]:
rating_counts = df['Rating Category'].value_counts()

percentage_rating = (rating_counts / len(df)) * 100

print(percentage_rating)

Medium    35.6
High      32.9
Low       31.5
Name: Rating Category, dtype: float64

4.1. Запустіть код нижче аби створити змінну `time`. Ця змінна містить час в форматі "година:хвилина". Напишіть функцію `get_hour`, яка буде зі змінної формату як `time` дістати лише години і конвертувати їх у тип `int`.

Запустіть написану функцію на змінній `time` та перевірте правильність роботи функції.

In [17]:
time = '11:28'

In [18]:
def get_hour(time):
    hour = int(time.split(':')[0])
    return hour
print(get_hour(time))

11

4.2. З допомогою функції `get_hour` і метода `DataFrame.apply()` створіть нову колонку `Hour` в нашому наборі даних, яка буде містити години здійснення покупки, обчислені на основі часу здійснення покупки `Time`.

In [29]:
def get_hour(time):
    return int(time.split(':')[0])

df['Hour'] = df['Time'].apply(get_hour)

print(df.head())

    Invoice ID Branch       City Customer type  Gender  \
0  750-67-8428      A     Yangon        Member  Female
1  226-31-3081      C  Naypyitaw        Normal  Female
2  631-41-3108      A     Yangon        Normal    Male
3  123-19-1176      A     Yangon        Member    Male
4  373-73-7910      A     Yangon        Normal    Male

             Product line  Unit price  Quantity   Tax 5%     Total       Date  \
0       Health and beauty       74.69         7  26.1415  548.9715   1/5/2019
1  Electronic accessories       15.28         5   3.8200   80.2200   3/8/2019
2      Home and lifestyle       46.33         7  16.2155  340.5255   3/3/2019
3       Health and beauty       58.22         8  23.2880  489.0480  1/27/2019
4       Sports and travel       86.31         7  30.2085  634.3785   2/8/2019

    Time      Payment    cogs  gross margin percentage  gross income  Rating  \
0  13:08      Ewallet  522.83                 4.761905       26.1415     9.1
1  10:29         Cash   76.40                 4.761905        3.8200     9.6
2  13:23  Credit card  324.31                 4.761905       16.2155     7.4
3  20:33      Ewallet  465.76                 4.761905       23.2880     8.4
4  10:37      Ewallet  604.17                 4.761905       30.2085     5.3

   Hour
0    13
1    10
2    13
3    20
4    10

4.3. Виведіть кількість значень за кожною годиною покупки і дайте відповідь "О яких годинах найбільше здійснюють покупок покупці і чому на Ваш погляд саме о цих годинах? Чи це слогічно, що найбільше покупок саме в ці години?".

In [30]:
hourly_counts = df['Hour'].value_counts()

print(hourly_counts)

max_hour = hourly_counts.idxmax()

print("Найбільше покупок здійснюються о " + str(max_hour) + " годині.")

19    113
13    103
15    102
10    101
18     93
11     90
12     89
14     83
16     77
20     75
17     74
Name: Hour, dtype: int64
Найбільше покупок здійснюються о 19 годині.

Оскільки о 19 годині люди найчастіше повертаються додому з роботи, логічно, що вони купують найбільше товарів)

5. Виведіть середнє значення чеку (`Total`) для покупок в містах, наявних в даних, за допомогою функції `groupby`.

In [31]:
average_total_by_city = df.groupby('City')['Total'].mean()

print(average_total_by_city)

City
Mandalay     319.872506
Naypyitaw    337.099715
Yangon       312.354031
Name: Total, dtype: float64

6. Виведіть кількість покупок, середнє, мінімальне та максимальне значення для загальної суми чеку (Total) в містах, наявних в даних, за допомогою функції groupby.
Зробіть висновки з цих показників та дайте рекомендації для мережі супермаркетів.

In [32]:
summary_by_city = df.groupby('City')['Total'].agg(['count', 'mean', 'min', 'max'])

print(summary_by_city)

           count        mean      min      max
City
Mandalay     332  319.872506  18.6375  1022.49
Naypyitaw    328  337.099715  10.6785  1042.65
Yangon       340  312.354031  12.6945  1039.29

В місті Yangon можна збільшити кількість супермаркетів, оскільки велика кількість покупок.

В місті Naypyitaw ціни високі, а покупок менше, ніж в інших містах. Тому варто орієнтуватися на доходи жителів та пропонувати їм доступні товари, знижки тощо.    

В місті Mandalay можна також слід розвивати цінову політики для привернення нових клієнтів на основі їх платоспроможності, оскільки мінімальна ціна товарів досить висока.

7. Ми внесли деякі зміни в наш набір даних, тож, давайте запишемо результат у файл. Запишіть оновлену версію даних у файл `supermarket_sales_enriched.csv`. Зверніть увагу, аби не записати нічого зайвого, наприклад, індекси рядків нам в файлі не потрібні, оскільки вони стандартні.

In [33]:
df.to_csv('/content/drive/MyDrive/python_labs/data/supermarket_sales_enriched.csv', index=False)

In [34]:
df = pd.read_csv('/content/drive/MyDrive/python_labs/data/supermarket_sales_enriched.csv')

In [37]:
df.head()

,Invoice ID,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Tax 5%,Total,Date,Time,Payment,cogs,gross margin percentage,gross income,Rating,Hour
0,750-67-8428,A,Yangon,Member,Female,Health and beauty,74.69,7,26.1415,548.9715,1/5/2019,13:08,Ewallet,522.83,4.761905,26.1415,9.1,13
1,226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,15.28,5,3.8200,80.2200,3/8/2019,10:29,Cash,76.40,4.761905,3.8200,9.6,10
2,631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,46.33,7,16.2155,340.5255,3/3/2019,13:23,Credit card,324.31,4.761905,16.2155,7.4,13
3,123-19-1176,A,Yangon,Member,Male,Health and beauty,58.22,8,23.2880,489.0480,1/27/2019,20:33,Ewallet,465.76,4.761905,23.2880,8.4,20
4,373-73-7910,A,Yangon,Normal,Male,Sports and travel,86.31,7,30.2085,634.3785,2/8/2019,10:37,Ewallet,604.17,4.761905,30.2085,5.3,10